
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3daafe1; /* tom parecido com a outra aba */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.login-container {
    width: 320px;
    padding: 25px;
    background: #ff0d0d75;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #000000;
}


.login-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    text-align: left;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc63;
    border-radius: 6px;
    transition: 0.3s;
}

.login-container input:focus {
    border-color: #189134;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}


.login-container button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.login-container button[type="submit"] {
    background-color: #1fbe44;
    color: #fff;
}

.login-container button[type="submit"]:hover {
    background-color: #37d65a;
}

.login-container button[type="button"] {
    background-color: #f70f26;
    color: #fff;
}

.login-container button[type="button"]:hover {
    background-color: #c82333;
}

.login-container a {
    text-decoration: none;
    display: block;
}


.login-container p {
    margin-top: 15px;
    font-size: 0.95em;
    color: #000;
}
